
li {
	margin: 2rem;
}

body {
	overflow: hidden;
	#alert-container {
		position: absolute;
		z-index: 2000;
		top: 0%;
		left: 0%;
		min-width:100%;
		display:flex;
		flex-direction: column;
	}
}

#profilePictureContainer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

@import './imports/settings.scss';
@import './imports/pong.scss';
@import './imports/bootstrap.scss';
@import './imports/auth.scss';
@import './imports/profile.scss';
@import './imports/friend.scss';
@import './imports/tournament.scss';
