li {
	margin: 2rem;
}

#profilePictureContainer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
  }

#primary: red;
#secondary: blue;

@import './imports/pong.scss';
@import './imports/bootstrap.scss';
@import './imports/auth.scss';
