
li {
	margin: 2rem;
}

body {
	overflow: hidden;
}

#profilePictureContainer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

@import './imports/settings.scss';
@import './imports/pong.scss';
@import './imports/bootstrap.scss';
@import './imports/auth.scss';
@import './imports/profile.scss';
@import './imports/friend.scss';
