.error {
    font-size: small;
    color:rgb(255, 0, 0);
}

nav {
    a {
        color: $primary;
        transition: 0.25s;
        &:hover {
            transition: 0.25s;
            color: $light;
        }
    }
    svg {
        min-width: 2rem;
        min-height: 2rem;
    }
}

.noclick {
	pointer-events: none;
}

text {
    &:hover {
        transition: 0.25s;
        color: $light;
        cursor: pointer;
    }
    font-size: larger;
    color: $primary;
    transition: 0.25s;

}

#connectionModal, #settingsModal, .card {
    color: $primary;
}

.tooltip-inner {
    background-color: $dark;
    color: $primary;
}

button {
    margin-bottom: 1rem;
}


hr.solid {
    border-top: 2px solid $primary;
  }

// #btnOpenRegister, #btnOpenLogin {
//     font-size: smaller;
// }