
*
{
    margin: 0;
    padding: 0;
}

#playButton{
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
  // #board {
  //   /* background-image: linear-gradient( 
  //           to right, #8a2727ef, #cb0202);  */
  //   // border-radius: 14px;
  //   // border: 0.2em solid #000000;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   z-index: -100;

  // }
  
  #background{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
  }
  
  // #gameBoard {
  //   /* background-image: linear-gradient( 
  //           to right, #8a2727ef, #cb0202);  */
  //   border-radius: 14px;
  //   position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //   /* border: 0.2em solid #ff0000; */
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
  
  #choose2PlayerButton{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chooseRemoteButton{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chooseTouramentButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mainMenuButton{
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
}

  
  #player1_score {
    margin-left: 20%;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 10px; /* Adjust as needed */
    font-size: 20px; /* Adjust as needed */
  }
  
  #player2_score {
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 10px; /* Adjust as needed */
    font-size: 20px; /* Adjust as needed */
  }