$primary: #2FF924;
$secondary: #EE24F9;
$primary-hover: #82f27b; 

$success: green;
$info: blue;
$warning: yellow;
$danger: red;
$light: #F9F6EE;
$light-faded: #A2A7A6;
$dark: #36454F;

$animation-std-time: 0.5s;
$animation-fast-time: 0.25s;
